@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

nav {
  background: rgba(211, 202, 202, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-weight: 800;
  width: 100%;
  z-index: 5;
}

nav .container-fluid span svg {
  width: 30px;
  height: 30px;
}

nav img {
  height: 22px;
}

nav .btn {
  background-color: #12486B;
  color: white;
}

.page-content {
  min-height: 100vh;
  padding: 0px 10px;
  background: linear-gradient(106.37deg, #113946 29.63%, #FFF5E0 51.55%, #113946 90.85%);

}